@page "/BuilderProfile/{Id:guid?}"

@attribute [Authorize]

@using BuilderPulsePro.Blazor.Builders.Fields
@using BuilderPulsePro.Blazor.Builders.Components
@using BuilderPulsePro.Builders
@using BuilderPulsePro.Localization
@using BuilderPulsePro.Locations
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<BuilderPulseProResource> LH
@inherits BuilderPulseProComponentBase
@inject NavigationManager Nav
@inject IBuilderProfileAppService builderAppService

<Card>
    <CardBody>
        <CardTitle Size="2" Margin="Margin.Is2.FromBottom">@L["BuilderProfile:CardTitle"]</CardTitle>
        <Validations @ref="@Validator" Model="Profile" ValidateOnLoad="false">
            <Tabs TabPosition="TabPosition.Start" SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                <Items>
                    <Tab Name="General">@L["BuilderProfile:TabGeneral"]</Tab>
                    <Tab Name="License">@L["BuilderProfile:TabLicense"]</Tab>
                    <Tab Name="Contributors" Visibility="Visibility.Invisible">@L["BuilderProfile:TabContributors"]</Tab>
                    <Tab Name="Portfolio">@L["BuilderProfile:TabPortfolio"]</Tab>
                </Items>
                <Content>
                    <TabPanel Name="General">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:Name"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.Name">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:EmailAddress"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.EmailAddress">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:PhoneNumber"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.PhoneNumber">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <LocationMultiSelect Locations="Profile.Locations" />
                    </TabPanel>
                    <TabPanel Name="License">
                        <Div Margin="Margin.Is2.FromBottom">
                            @(new MarkupString(L["BuilderProfile:TabLicenseDescriptionMarkup"]))
                        </Div>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:BusinessLicenseNumber"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.BusinessLicenseNumber">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:IssuingState"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.IssuingState">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["BuilderProfile:IssuingAuthority"]</FieldLabel>
                                <TextEdit @bind-Text="Profile.IssuingAuthority">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                    </TabPanel>
                    <TabPanel Name="Contributors">

                    </TabPanel>
                    <TabPanel Name="Portfolio">
                        <Portfolio PortfolioItems="Profile.PortfolioItems" />
                    </TabPanel>
                </Content>
            </Tabs>
            
        </Validations>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Light" Clicked="Cancel">@L["Site:Cancel"]</Button>
        <Button Color="Color.Primary" Clicked="Save">@L["Site:Save"]</Button>
    </CardFooter>
</Card>