@page "/BuilderDashboard"
@using BuilderPulsePro.Blazor.Projects.Components
@using BuilderPulsePro.Builders
@using BuilderPulsePro.Projects
@using Volo.Abp.Application.Dtos
@inherits BuilderPulseProComponentBase
@inject IBuilderProfileAppService builderAppService
@inject IProjectAppService projectAppService

@if (Profile != null) {
    <Row>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Projects"]</h3>
                </CardHeader>
                <CardBody>
                    <DataGrid TItem="ProjectDto" Data="@Projects.Items" TotalItems="@((int?)Projects.TotalCount)"
                        ShowPager Sortable PageSize="pageSize" CurrentPage="currentPage" SortMode="DataGridSortMode.Single"
                        Responsive
                    >
                        <EmptyTemplate>
                            @L["BuilderDashboard:NoProjects"]
                        </EmptyTemplate>
                        <DataGridColumns>
                            <DataGridColumn TItem="ProjectDto" Field="@nameof(ProjectDto.Title)" Caption="@L["Project:Title"]">
                                <DisplayTemplate>
                                    <a href="@($"/project/{context.Id}")">@context.Title</a>
                                </DisplayTemplate>
                            </DataGridColumn>
                        </DataGridColumns>
                    </DataGrid>

                    <Button Color="Color.Primary" Clicked="CreateProjectClicked" Margin="Margin.Is2.FromBottom.Is2.FromTop">@L["BuilderDashboard:CreateProject"]</Button>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Profile"]</h3>
                </CardHeader>
                <CardBody>
                    <Div Margin="Margin.Is2.FromBottom">
                        @L["BuilderDashboard:Name"]: @Profile.Name
                    </Div>
                    @if (!string.IsNullOrEmpty(Profile.EmailAddress))
                    {
                        <Div Margin="Margin.Is2.FromBottom">
                            @L["BuilderDashboard:EmailAddress"]: @Profile.EmailAddress
                        </Div>
                    }
                    @if (!string.IsNullOrEmpty(Profile.PhoneNumber))
                    {
                        <Div Margin="Margin.Is2.FromBottom">
                            @L["BuilderDashboard:PhoneNumber"]: @Profile.PhoneNumber
                        </Div>
                    }
                    <Button Color="Color.Primary" Type="ButtonType.Link" To="@($"/BuilderProfile/{Profile.Id}")" Margin="Margin.Is2.FromBottom">@L["BuilderDashboard:Edit"]</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
    
    <CreateProjectModal @ref="CreateProjectModal" Saved="ProjectSaved" BuilderProfileId="Profile.Id" />
}
else {
    <Row>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Profile"]</h3>
                </CardHeader>
                <CardBody>
                    <Div Margin="Margin.Is2.FromBottom">
                        @L["BuilderDashboard:ProfileNotFound"]
                    </Div>
                    <Button Color="Color.Primary" Type="ButtonType.Link" To="/BuilderProfile" Margin="Margin.Is2.FromBottom">@L["BuilderDashboard:Create"]</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
}

