@page "/BuilderDashboard"
@using BuilderPulsePro.Builders
@inherits BuilderPulseProComponentBase
@inject IBuilderProfileAppService builderAppService

@if (Profile != null) {
    <Row>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Projects"]</h3>
                </CardHeader>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Profile"]</h3>
                    <Div Margin="Margin.Is2.FromBottom">
                        @L["BuilderDashboard:Name"]: @Profile.Name
                    </Div>
                    @if (!string.IsNullOrEmpty(Profile.EmailAddress))
                    {
                        <Div Margin="Margin.Is2.FromBottom">
                            @L["BuilderDashboard:EmailAddress"]: @Profile.EmailAddress
                        </Div>
                    }
                    @if (!string.IsNullOrEmpty(Profile.PhoneNumber))
                    {
                        <Div Margin="Margin.Is2.FromBottom">
                            @L["BuilderDashboard:PhoneNumber"]: @Profile.PhoneNumber
                        </Div>
                    }
                    <Button Color="Color.Primary" Type="ButtonType.Link" To="@($"/BuilderProfile/{Profile.Id}")" Margin="Margin.Is2.FromBottom">@L["BuilderDashboard:Edit"]</Button>
                </CardHeader>
            </Card>
        </Column>
    </Row>
}
else {
    <Row>
        <Column ColumnSize="ColumnSize.IsHalf">
            <Card>
                <CardHeader>
                    <h3>@L["BuilderDashboard:Profile"]</h3>
                    <Div Margin="Margin.Is2.FromBottom">
                        @L["BuilderDashboard:ProfileNotFound"]
                    </Div>
                    <Button Color="Color.Primary" Type="ButtonType.Link" To="/BuilderProfile" Margin="Margin.Is2.FromBottom">@L["BuilderDashboard:Create"]</Button>
                </CardHeader>
            </Card>
        </Column>
    </Row>
}


