@using BuilderPulsePro.Enums
@using BuilderPulsePro.Projects
@using Volo.Abp.Guids

@inherits BuilderPulseProComponentBase
@inject IGuidGenerator GuidGenerator

<Modal @ref=Modal>
    <ModalContent Centered Padding="Padding.Is2" Size="ModalSize.ExtraLarge" >
		<ModalHeader>
            <ModalTitle TextAlignment="TextAlignment.Start">@L["ProjectTask:ScheduleATask"]</ModalTitle>
            <CloseButton VerticalAlignment="VerticalAlignment.Top" Float="Float.End" Clicked="Close" Style="cursor:pointer;"></CloseButton>
        </ModalHeader>
        <ModalBody>
            @if (Tasks.Any(x => !x.StartDate.HasValue)) {
                <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                    <Items>
                        <Tab Name="available">@L["ProjectTask:AvailableTasks"]</Tab>
                        <Tab Name="new">@L["ProjectTask:NewTask"]</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="available">
                            @L["ProjectTask:SelectATask"]
                            @foreach (var item in Tasks.Where(x => !x.StartDate.HasValue))
                            {
                                <Div>
                                    <Button Color="Color.Primary" Clicked="() => SelectExistingTask(item)">@item.Title</Button>
                                </Div>
                            }
                        </TabPanel>
                        <TabPanel Name="new">
                            <EditTaskComponent @ref="EditTaskComponent" Project="Project" Tasks="Tasks" AllowTaskTypeSelection="true" />
                        </TabPanel>
                    </Content>
                </Tabs>
            }
            else {
                <EditTaskComponent @ref="EditTaskComponent" Project="Project" Tasks="Tasks" AllowTaskTypeSelection="true" />
            }
        </ModalBody>
        <ModalFooter>
            @if (selectedTab != "available") {
                <Button Color="Color.Light" Clicked="Close">@L["Site:Close"]</Button>
                <Button Color="Color.Primary" Clicked="() => Save(NewTask)">@L["Site:Save"]</Button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>