@page "/"
@namespace BuilderPulsePro.Blazor.Pages
@using System.Globalization
@using BuilderPulsePro.Domain.Shared.Options
@using Volo.Abp.AspNetCore.Components.Web.LeptonXTheme.Components
@using Volo.Abp.AspNetCore.Components.Server.LeptonXTheme.Bundling
@using Volo.Abp.Localization

@inject Microsoft.Extensions.Options.IOptions<KeyOptions> KeyOptions

@{
    Layout = null;
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;

    var MapsApiKey = KeyOptions.Value.Google.MapsApiKey;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuilderPulsePro</title>
    <base href="~/" />

    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    
    <abp-style-bundle name="@BlazorLeptonXThemeBundles.Styles.Global" />
</head>
<body class="abp-application-layout @rtl">
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <abp-script-bundle name="@BlazorLeptonXThemeBundles.Scripts.Global" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src=@($"https://maps.googleapis.com/maps/api/js?key={MapsApiKey}&libraries=places")></script>
    <script src="js/site.js"></script>
</body>
</html>
